<!-- py addes vertical padding, setting margin-top to auto in a flexbox makes element move all the way to the bottom, while taking up the rest of the empty space -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; RateMyApartment</span>
    </div>
</footer>