<% layout('layouts/boilerplate') %>

    <div class="container d-flex justify-content-center align-items-center">
        <div class="card shadow p-4 w-50">
            <img src="/images/login-art.svg" alt="" class="card-img-top" width="150px" height="150px" />
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form action="/login" method="POST" class="validation-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                    </div>

                    <div class="mb-4">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>